<div class="form-container">
  <img src="../../../assets/images/LogoHondurasConecta.svg" id="lock">

  <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" id="fb">Conectar con Facebook</button><br>
  <button (click)="auth.googleSignin()" id="google">Conectar con Google</button>
  <button routerLink="/login-email" id="email">Conectar con Correo</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">¿Aún no tienes cuenta?<strong> Regístrate </strong></a>
</div>